body{
font: normal small Arial, Helvetica, sans-serif;
color:#ffffff;
text-align:justify;
font-size:13px;
margin-top:10px;
margin-left:112px;
margin-right:0px;
margin-bottom:10px;
background-color:#f8c8c8;
background-image:url(../images/clouds.jpg); background-repeat:repeat-x;
background-position:center;
}